<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>API-Bonanza</title>
</head>
<body>
    <nav>
        <div id="nav" class="nav-wrapper">
          <a class="left brand-logo">API Call Demos</a>
          <ul id="nav-mobile" class="right">
              <li><a href="/pokeView">Poke Page</a></li>
              <li><a href="/nasaView">NASA Page</a></li>
              <li><a href="/weatherView">Weather</a></li>
          </ul>
        </div>
      </nav>
