<%- include('partials/nav') %>

<h4>Poke Page!</h4>
<form action="/pokeQuery" method="POST">
    <input type="text" name="query" placeholder="Enter pokemon name...">
    <button class="btn waves-effect waves-light" type="submit">Search</button>
</form>


<%- include('partials/footer') %>